
-- Change [EXAMPLE_DB] to whatever your database name is.
USE [EXAMPLE_DBba]
GO

IF (EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'PROVINCE'))
BEGIN
    DROP TABLE PROVINCE;
END

IF (EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'SAMPLE_CUSTOMER'))
BEGIN
    DROP TABLE SAMPLE_CUSTOMER;
END

/****** Object:  Table [dbo].[SAMPLE_CUSTOMER]    Script Date: 2016-01-25 9:41:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE PROVINCE
(
	provAbbrev CHAR(2),
	provName VARCHAR(30),

	CONSTRAINT pk_province_provAbbrev PRIMARY KEY (provAbbrev)
);

INSERT INTO PROVINCE VALUES ('AB', 'Alberta');
INSERT INTO PROVINCE VALUES ('BC', 'British Columbia');
INSERT INTO PROVINCE VALUES ('MB', 'Manitoba');


CREATE TABLE [dbo].[SAMPLE_CUSTOMER](
	[custID] [char](36) NOT NULL,
	[custFirstName] [varchar](25) NULL,
	[custLastName] [varchar](30) NULL,
	[custMiddleName] [varchar](25) NULL,
	[custStreetAddress] [varchar](150) NULL,
	[custCity] [varchar](150) NULL,
	[custPostalCode] [char](6) NULL,
	[provAbbrev] [char](2) NULL,
	[custCountry] [varchar](30) NULL,
	[custDOB] [date] NULL,
	[custDateAdded] [date] NULL,
	[custIncome] [decimal](9, 2) NULL,
 CONSTRAINT [pk_SAMPLE_CUSTOMER_custID] PRIMARY KEY	([custID] ASC),
 CONSTRAINT fk_PROVINCE_SAMPLE_CUSTOMER FOREIGN KEY (provAbbrev) REFERENCES PROVINCE(provAbbrev)
)

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[SAMPLE_CUSTOMER] ([custID], [custFirstName], [custLastName], [custMiddleName], [custStreetAddress], [custCity], [custPostalCode], [provAbbrev], [custCountry], [custDOB], [custDateAdded], [custIncome]) VALUES (N'0275c232-7b69-4e92-865f-0b24cd315761', N'Carlos', N'Rivas', N'E.', N'Ap #228-4164 Amet Rd.', N'Muskegon', N'T1K9L2', N'NT', N'Canada', CAST(N'1990-02-16' AS Date), CAST(N'2019-08-09' AS Date), CAST(173439.00 AS Decimal(9, 2)))
GO
INSERT [dbo].[SAMPLE_CUSTOMER] ([custID], [custFirstName], [custLastName], [custMiddleName], [custStreetAddress], [custCity], [custPostalCode], [provAbbrev], [custCountry], [custDOB], [custDateAdded], [custIncome]) VALUES (N'068f6671-c320-4068-b4ba-d1ee25c8e69e', N'Alisa', N'Pratt', N'Z.', N'6850 Nulla. Avenue', N'Lawton', N'F6I7R1', N'SK', N'Canada', CAST(N'1983-05-07' AS Date), CAST(N'2019-09-05' AS Date), CAST(27474.00 AS Decimal(9, 2)))
GO
INSERT [dbo].[SAMPLE_CUSTOMER] ([custID], [custFirstName], [custLastName], [custMiddleName], [custStreetAddress], [custCity], [custPostalCode], [provAbbrev], [custCountry], [custDOB], [custDateAdded], [custIncome]) VALUES (N'090f8f06-d656-4370-a6ba-55372ccb0e88', N'Hamilton', N'Rodgers', N'X.', N'1078 Urna. Ave', N'Pottsville', N'D6Z3C0', N'NT', N'Canada', CAST(N'1999-06-18' AS Date), CAST(N'2017-11-24' AS Date), CAST(157686.00 AS Decimal(9, 2)))
GO
